/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}
#help{
  --space: 3ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  li{
    position: relative;
    font-size: 1.5rem;
    list-style-type:none;
    margin-left: var(--space);
    &::before{
      content:"\279E";
      position: absolute;
      left: calc(var(--space) * -1);

    }
  }
}
.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}
// How to proceed.

/* FOOTER */
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}
