@charset "UTF-8";
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-pink: #eb5877;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
}

/* GENERAL */
h3 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1.5rem;
}

a:link,
a:visited {
  color: var(--color-brand--1);
}

/* FORM */
input,
textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #fff;
}

button {
  margin-top: 1rem;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.btn--green {
  background-color: var(--color-brand--2);
}

.btn--pink {
  background-color: var(--color-pink);
}

.btn--red {
  background-color: red;
}

.btn__rounded {
  border: 2px solid var(--color-pink);
  background-color: var(--color-pink);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-self: end;
  align-items: center;
  opacity: 0.8;
  transition: all 0.2s;
}
.btn__rounded > svg {
  height: 20px;
  width: 20px;
  fill: var(--color-dark--2);
}
.btn__rounded:hover {
  opacity: 1;
}

.btn--add-ride {
  opacity: 0.5;
  transition: opacity 0.2s;
}
.btn--add-ride.active {
  opacity: 1;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

#help {
  --space: 3ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
#help li {
  position: relative;
  font-size: 1.5rem;
  list-style-type: none;
  margin-left: var(--space);
}
#help li::before {
  content: "➞";
  position: absolute;
  left: calc(var(--space) * -1);
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

/* FOOTER */
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--2);
  background-image: url("../img/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: var(--border-radius);
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.rides {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2rem;
}
.rides::-webkit-scrollbar {
  width: 0;
}

.ride {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.ride.highlighted {
  background-color: var(--color-light--1);
  color: var(--color-dark--1);
}
.ride.highlighted .ride__unit {
  color: var(--color-dark--1);
}
.ride__date {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1/-2;
}
.ride__distance {
  justify-self: end;
}
.ride__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.ride__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}
.ride__description, .ride__title {
  grid-column: 1/-2;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: var(--border-radius);
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;
  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

/* RIDE POPUP */
#ride-popup {
  color: var(--color-dark--1);
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--color-pink);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}
#ride-popup > h3 {
  color: var(--color-pink);
}
#ride-popup > p {
  color: var(--color-dark--2);
}
#ride-popup > form {
  margin-top: 1.5rem;
}
#ride-popup > form > button {
  background-color: var(--color-pink);
}
#ride-popup > form > label {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  display: block;
}
#ride-popup::backdrop {
  background-color: var(--color-dark--2);
  opacity: 0.5;
}

.ride-popup__close {
  text-align: right;
  cursor: pointer;
  margin-bottom: 1rem;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.ride-popup__close:hover, .ride-popup__close:focus {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
